:root {
    /* Light theme (default) */
    --background-color: antiquewhite;
    --text-color: black;
    --navbar-li-color: rgb(74, 64, 64);
    --svg-color: black;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --svg-linkedin-color: #0a66c2;
}

[data-theme="dark"] {
    /* Dark theme */
    --background-color: #252424;
    --text-color: #e0e0e0;
    --navbar-li-color: rgb(204, 198, 198);
    --svg-color: rgb(204, 198, 198);
    --shadow-color: rgba(0, 255, 255, 0.7);
    --svg-linkedin-color: rgb(204, 198, 198);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto",
        sans-serif;
    font-size: large;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    max-width: 100vw;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

hr {
    margin: 0;
    border: none;
    background: rgb(176, 172, 172);
    width: 1px;
}

h1 {

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2 {
    margin: 0;
}



.navbar {
    /* box-sizing: border-box; */
    position: fixed;
    z-index: 1000;
    /* z-index: 1000; */
    height: 65px;
    min-height: 65px;
    width: 100vw;
    max-width: 100%;
    box-shadow: 1px 3px 4px var(--shadow-color);
    background-color: var(--background-color);
    /* Horizontal offset, vertical offset, blur radius, color */
}

.navbar__container {
    width: 100vw;
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;

    font-size: 1.2rem;
}

.navbar__owner-name-container {
    width: 40%;
    margin-left: min(5.5rem, 5.5vw);
    font-weight: bolder;
}

.navbar__owner-name {
    font-size: 2rem;

}

.navbar__link-lists {
    width: 45%;
    max-width: 100%;
    position: sticky;

    display: flex;

    /* margin-left: 9rem; */
    min-height: 100%;
    align-items: center;

    list-style-type: none;
    justify-content: end;

}

.navbar__link_tooltip {
    position: relative;
}

.navbar__theme-tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -50px;
    left: -100%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.navbar__link_tooltip:hover .navbar__theme-tooltip {
    visibility: visible;
    opacity: 1;
}

.navbar__list-element {
    position: relative;
    /* This property is necessary for the bar bellow about and contact me */

    display: inline-block;
    margin-left: 3rem;

    color: var(--navbar-li-color);
}

.navbar__list-element::after {
    content: '';
    position: absolute;
    width: 0;
    /* starts with 0 width */
    min-height: 2px;
    /* same as your previous border width */
    left: 0;
    bottom: 0;
    background-color: rgb(176, 172, 172);

    transition: width 0.3s ease;
}

.navbar__list-element:hover::after {
    width: 100%;
    /* expands to full width on hover */
}

.navbar__list-element_no-underline::after {
    min-height: 0;
    content: none;
}

.navbar__svg {
    display: inline-block;
    vertical-align: middle;
}

.navbar__list-element-menu-toggle {
    visibility: hidden;
    position: fixed;
}

.navbar__menu-toggle-svg {
    fill: var(--svg-color);
    width: 35px;
    height: 35px;
}

.navbar__list-element-theme-toggle {
    cursor: pointer;
}

.navbar__theme-toggle-svg {
    width: 35px;
    height: 35px;
    fill: var(--text-color);
    transition: transform 0.5s ease;
}

.navbar__theme-toggle-svg:hover {
    transform: rotate(360deg);
}

.navbar__link {
    text-decoration: none;
    color: inherit;
}

.navbar__sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 35%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    backdrop-filter: blur(10px);
}


.navbar__sidebar-list-element {
    display: flex;
    width: 100%;
    margin: 0;
    height: 50px;
    align-items: center;
    padding-left: 30px;
    font-weight: bolder;
}

.navbar__sidebar-link {
    font-size: 1.1rem;
}

.navbar__sidebar-list-element:hover {
    background-color: #f0f0f0;
}

.navbar__sidebar-list-element::after {
    background-color: white;
    min-height: 0px;
}

.navbar-spacer {
    min-height: 65px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 min(5.5rem, 5.5vw);
    border: rem;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* padding: 0 3em; */
}

.main-container__about-section {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    flex: 1 1 58%;
    min-height: 700px;
    margin: 0 min(3rem, 3vw) 0 0;
}

.main-container__about-section-title {
    margin: min(3rem, 3vw) 0 min(0.25rem, 0.25vw) 0;
    font-size: 5rem;
}

.main-container__about-section-paragraphs {
    font-size: 1.2rem;
    margin: 0;
    line-height: 2rem;
}

.main-container__about-section-and-sidebar-divider {
    margin: min(4.5rem, 4.5vh) 0 0 0;
}

.main-container__sidebar {
    flex: 1 1 20%;
    margin: min(3rem, 4.4vh) 0 0 min(3rem, 4.4vw);
}

.main-container__sidebar-lists {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: min(4rem, 4vh);
    gap: 0.5rem;
    /* align-items: center; */
}

.main-container__sidebar-list-element {
    display: flex;
    list-style-type: none;
    margin-top: min(0.1rem, 0.1vh);
    top: auto;
    bottom: auto;
}

.main-container__sidebar-list-image {
    width: 40px;
    height: 40px;
}

.main-container__svg-github,
.main-container__svg-x,
.main-container__svg-gmail {
    fill: var(--svg-color);
}

.main-container__svg-github,
.main-container__svg-gmail {
    width: 40px;
    height: 40px;
}

.main-container__svg-x {
    display: inline;
    margin-top: 0.2rem;
    width: 40px;
    height: 40px;
}

.main-container__svg-linkedin {
    fill: var(--svg-linkedin-color);
    width: 40px;
    height: 40px;
}

.main-container__svg-linkedin:hover {
    fill: #0a66c2;
}


.main-container__sidebar-link {
    display: flex;
    top: auto;
    bottom: auto;
    text-decoration: none;
    color: inherit;
}

.main-container__sidebar-link:link {
    display: flex;
    top: auto;
    bottom: auto;
    text-decoration: none;
    color: inherit;
}

.main-container__sidebar-link:hover {
    font-weight: bolder;
}

.main-container__sidebar-text {
    display: inline;
    margin: auto 0 auto 1rem;
}

.main-container__sidebar-titles-underline {
    width: 65px;
    border: none;
    height: 3px;
    background-color: var(--shadow-color);
    flex: 1 1 10%;
    margin: 0 80% min(3rem, 3vh) 0;
    border-width: 2px;
    border-radius: 5px;
    /* height: 2px; */
}

.main-container__sidebar-list-image {
    border-radius: 50%;
    background: var(--svg-color);
}

.main-container__projects-grid {
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: min(3rem, 5vh);
}

.main-container__card-image {
    max-width: 100%;
}

.main-container__section-about-the-projects {
    display: flex;
    flex-direction: column;
    /* margin: 0 min(5.5rem, 5.5vw); */
    max-width: 100%;
    width: 100%;
}

.main-container__project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px var(--shadow-color), 2px 2px 4px var(--shadow-color);
}

.main-container__card-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.main-container__section-title-about-the-projects {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.main-container__project-title {
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0;
}



.main-container__card-image {
    display: block;
}

.footer__image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    display: block;
    /* position: relative; */
    padding: 0;
    border-radius: 50%;
}

.footer {
    box-shadow: 1px 1px 1px blanchedalmond;
    background-color: rgb(1, 1, 1);
    display: flex;
    min-height: 100px;
}

.footer__text {
    font-size: 0.9rem;
    align-content: center;
    justify-self: end;
    color: grey;
}

.footer>* {
    max-width: 50%;
}

.footer__container {
    max-width: 100%;
    display: flex;
    margin-inline: auto;
    white-space: nowrap;
}

.footer__image-container {
    margin-left: 2rem;
    align-content: center;
}

.footer__image-container:hover {
    position: relative;
    top: 1px;
    z-index: 998;
}

.footer__image-container::before {
    display: block;
    border-radius: 50%;
    content: '';
    position: fixed;
    bottom: 120px;
    /* Position above the footer */
    left: 50%;
    transform: translateX(-10%);
    /* Center horizontally */
    width: 30rem;
    /* Width of the larger image */
    height: 30rem;
    /* Height of the larger image */
    background-image: url('media/equal-dimentions/IMG_20250425_164345equal_dimentions_640.jpg');
    /* Same image as the small one */
    background-size: cover;
    background-position: center;
    /* Slightly rounded corners */
    box-shadow: 0 0 15px var(--shadow-color);
    /* Add shadow for depth */
    opacity: 0;
    /* Hide by default */
    visibility: hidden;
    /* Hide by default */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    /* Smooth transition */
    z-index: 1002;
    /* Ensure it's above other elements */
}

/* Show the larger image on hover */
.footer__image-container:hover::before {
    opacity: 1;
    visibility: visible;
}

/* } */

@media screen and (max-width:1000px) {
    body {
        display: flex;
        flex-direction: column;
    }


    .main-container {
        margin-inline: min(3rem, 3vw);
    }

    .navbar__owner-name {
        font-size: 1.5rem;

    }

    .navbar__list-element {
        float: right;
        right: 0;
        margin: 0 min(3rem, 3vw) 0 min(3rem, 3vw);
    }

    .navbar__list-element_hide {
        display: none;
    }

    .main-container__about-section-and-sidebar-divider {
        display: none;
    }

    .main-container__about-section {
        order: 1;
    }

    .main-container__section-about-the-projects {
        order: 2;
        margin: min(4rem, 4vh) 0 0 0;
    }

    .main-container__section-title-about-the-projects {
        margin-bottom: min(3rem, 3vh);
        font-size: 2.5rem;
        text-align: center;
    }

    .main-container__project-title {
        font-size: 2rem;
    }

    .main-container__sidebar {
        order: 3;
    }

    .navbar__list-element {
        justify-content: center;
        margin-left: 0;
        padding: 0;
    }

    .navbar__list-element:hover {
        background-color: transparent;
    }

    .navbar__sidebar-link {
        font-size: 1.9rem;
    }

    .navbar__list-element-menu-toggle {
        visibility: visible;
        position: relative;
    }

    .navbar__list-element-theme-toggle:hover svg {
        transform: rotate(0);
    }

    @keyframes rotate-cw {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes rotate-ccw {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(-360deg);
        }
    }

    .navbar__theme-toggle-svg_rotate-clockwise {
        animation: rotate-cw 0.5s ease-in-out;
    }

    .navbar__theme-toggle-svg_rotate-counterclockwise {
        animation: rotate-ccw 0.5s ease-in-out;
    }

    .footer {
        order: 4;
    }

    .footer__text {
        margin: 0;

    }



    .footer__image-container {
        margin-left: 1rem;
    }


    .footer__image-container::before {
        content: none;
    }

    .footer__image-container:hover {
        top: 0;
    }
}

@media screen and (max-width:510px) {

    .navbar__owner-name-container {
        width: 55%;
    }



    .navbar__link-lists {
        width: 45%;
        /* margin: 0; */
    }

    .navbar__sidebar {
        width: 30%;
    }

    .navbar__sidebar-list-element {
        margin-inline: auto;
        padding-left: 0;
    }

    .navbar__sidebar-link {
        font-size: 1.2rem;
    }

    .navbar__sidebar {
        margin-right: 0 !important;
    }

    .footer__container {
        margin: 0;
        white-space: wrap;
    }

    .footer__image-container:hover {
        top: 0;
    }

    .footer__image-container::before {
        transform: none;

        border-radius: 50%;
        content: none;
        position: absolute;
        bottom: 120px;
        /* Position above the footer */
        left: 50%;
        transform: translateX(-50%);
        /* Center horizontally */
        width: 30rem;
        /* Width of the larger image */
        height: 30rem;
        /* Height of the larger image */
        background-image: none;
        /* Same image as the small one */
        background-size: cover;
        background-position: center;
        /* Slightly rounded corners */
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        /* Add shadow for depth */
        opacity: 0;
        /* Hide by default */
        transition: opacity 0.3s ease, visibility 0.3s ease;
        /* Smooth transition */
        z-index: 1002;
        /* Ensure it's above other elements */
    }
}

@media screen and (max-width:460px) {
    .navbar__list-element {
        margin-left: 1.5rem;
    }

    .navbar__sidebar-list-element {
        margin-left: 0;
    }
}